.cover-user-show {
    min-height: 100%;
    width: 100%;
    background-image: image-url("white_00096.jpg");
    background-color: #ffffff66;
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.cover-user-index {
    min-height: 100vh;
    width: 100%;
    color: white; /* 文字色を白に設定 */
    display: table;background-image: image-url("coffee-5447420_1280.jpg");
    background-color: rgba(200, 200, 200, 0.4); /* 明るめのグレーがかった背景 */
    background-blend-mode: lighten; /* 背景画像と色をlightenモードでブレンド */
    background-size: cover; /* 背景画像が要素にフィットするように設定 */
    }

.cover-user-edit {
    min-height: 100vh; /* ビューポートの高さに合わせる */
    width: 100%;
    background-image: image-url("white_00096.jpg");
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: cover; /* アスペクト比を保ちながら画面全体に表示 */
    background-position: center; /* 中央に配置 */
    background-repeat: no-repeat; /* 繰り返しを無効に */
}

.profile {
    padding: 15px;
}

.one-post {
    border: 1px solid #ccc; /* 枠線の色 */
    border-radius: 8px; /* 角丸 */
    padding: 16px; /* 内側の余白 */
    margin-bottom: 16px; /* 下の間隔 */
    background-color: #f9f9f9; /* 背景色 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 軽い影を付ける */
    width: 300px;
  } 

  @media screen and (max-width: 575px) {
    .userimg {
        width: 350px;
        height: 220px;
    }

    .cover-user-index {
        display: table;background-image: image-url("coffee-5447420_1280.jpg");
        background-color: rgba(200, 200, 200, 0.4); /* 明るめのグレーがかった背景 */
        background-blend-mode: lighten; /* 背景画像と色をlightenモードでブレンド */
        background-size: cover; /* 背景画像が要素にフィットするように設定 */
        }
  }
