.cover-user-show {
    height: 100%;
    width: 100%;
    background-image: url(/assets/old-letters-436503_1280.jpg);
    background-color: #ffffff66;
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.cover-user-index {
    height: 100vh;
    width: 100%;
    display: table;background-image: url('/assets/couple-6112296_1280.jpg');
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
    background-size: cover;
}

.cover-user-edit {
    height: 100vh; /* ビューポートの高さに合わせる */
    width: 100%;
    background-image: url(/assets/white_00096.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: cover; /* アスペクト比を保ちながら画面全体に表示 */
    background-position: center; /* 中央に配置 */
    background-repeat: no-repeat; /* 繰り返しを無効に */
}

.profile {
    padding: 15px;
}